@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 14px;
    gap: 20px;
}
.skills{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    transition: transform 0.3s ease-in-out;
}
.skill:hover {
    transform: scale(1.1);
}
.skillImageContainer{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}
.skill:hover .skillImageContainer {
    background-color: var(--color-primary);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.skillImageContainer img{
    width: 75px;
}
.skill p{
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}
.history{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.historyItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376b;
    background: linear-gradient(90deg,#19376b 0%,rgba(25,25,109,0)100%);
    border-radius: 10px;
    padding: 24px;
}
.historyItem img{
    width: 150px;
}
.historyItemDetails{
    font-family: var(--font-roboto);
}
.historyItemDetails h3{
    font-size: 23px;
    font-weight: 600;
}
.historyItemDetails p{
    font-size: 20px;
    font-weight: 300;
    color: #f79d43dc;
}
.historyItemDetails ul{
    margin-top: 6px;
    list-style-position: inside;
    font-size: 20px;
    list-style-type: disc;
    margin-left: 17px;
    
}
.sectionTitle {
    width: 45%; 
    text-align: left;
}
.sectionTitleEx {
    width: 45%; 
    text-align: left;
}
@media screen and (min-width: 830px) {
    .sectionTitleEx {
      display: none;
    }
  }
  

@media screen and (max-width: 830px) {
    .sectionTitle:last-of-type {
        display: none;
    }
}

.skills, .history {
    width: 45%;
}
@media screen and (max-width:830px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .skills{
        width: 100%;
        display: flex;      
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .history{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;
       
        
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 34px;
        
    }
   
    
}